# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Dataset
# ==============================
image_dataset/

# ==============================
# IDE / VS Code
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Python cache / logs
# ==============================
*.log

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp